* {
    margin: 0px;
    padding: 0px;
}
ul {
    list-style-type: none;
}
#main-menu{
    padding: 20px;
    margin-bottom: 0px;
    font-size: large;
    font-weight: 1000;
}
nav {
    background-color: black;
}

#main-menu {
    display: flex;
}

nav #main-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-left: 50px;
}

nav #main-menu li:hover a {
    background: #c23616;
    transition: all 0.3s;
}

#toggle {
    display: none;
    background: black;
    color: #fff;
    text-align: right;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #main-menu {
        flex-direction: column;
        text-align: center;
    }
    #toggle {
        display: block;
    }
    nav {
        display: none;
    }
}
.footer {
    margin-top: 10px;
    background-color: black;
    color: aliceblue;
}